<html xmlns:th ="http://www.thymeleaf.org">
<head>
    <title>Entrega Personaje</title>
</head>
<body>
    <h1 th:text="${name}"></h1>
    <table border="5 px">
        <tr>
            <th>ID</th>
            <th><p th:text="${id}"></p></th>
        </tr>
        <tr>
            <th>Status</th>
            <th><p th:text="${status}"></p></th>
        </tr>
        <tr>
            <th>Species</th>
            <th><p th:text="${species}"></p></th>
        </tr>
    </table>
    <form action="cuestionario">
        <input type="submit" value="Volver">
    </form>

</body>
</html>